<p id="notice"><%= notice %></p>

<h1><%= @item_detail[0].name %></h1>

  <% @item_detail.each do |item| %>
    <%= image_tag(item.item_image.url(:medium))  %>
    <br />
    <b>Desription:</b>
    <%= sanitize(item.description) %>
    <br />
    <b>Condition:</b>
    <%= item.condition %>
    <br />
  <% end %>

<hr>

<% unless current_user.id == @item_detail[0].user_id %>
<b> Want to bid?</b>

<%= form_tag(bids_path, method: "post") do  %>
<input type='hidden' name='listing_item_id' value="<%=@listing_item_id%>">
<%= select_tag(:bid_item_id, options_for_select(@selection_items)) %>
<%= submit_tag("Bid") %>
<% end %>

<hr>
<% end %>

<h2>Bids</h2>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Condition</th>
      <% if current_user.id == @item_detail[0].user_id %>
      <th>Accept?</th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bid_items.each do |item| %>
      <tr>
        <td><%= image_tag(item.item_image.url(:thumb))  %></td>
        <td><%= item.name %></td>
        <td><%= sanitize(item.description) %></td>
        <td><%= item.status %></td>
        <td><%= item.condition %></td>
        <% if current_user.id == @item_detail[0].user_id %>
            <td>
            <%= form_tag(transactions_path, method: "post") do  %>
                <input type='hidden' name='listing_item_id' value="<%=@item_detail[0].id%>">
                <input type='hidden' name='bid_item_id' value="<%=item.id%>">
                <input type='hidden' name='listing_user_id' value="<%=@item_detail[0].user_id%>">
                <input type='hidden' name='bid_user_id' value="<%=item.user_id%>">
                <input type='hidden' name='bid_verify' value="<%=0%>">
                <input type='hidden' name='listing_verify' value="<%=0%>">
                <%= submit_tag("Accept Bid") %>
            <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

